In [1]:
import pandas as pd

In [2]:
dict = {'Name': ['Prafool', 'Tejpal'],
        'Address': ['Bhoot Bangla', 'Dianausore House']}
dict

{'Name': ['Prafool', 'Tejpal'],
 'Address': ['Bhoot Bangla', 'Dianausore House']}

In [3]:
df = pd.DataFrame(dict)
df

      Name           Address
0  Prafool      Bhoot Bangla
1   Tejpal  Dianausore House